[Unit]
Description=upload lightcurve to Twitter/Mastodon

[Service]
Type=oneshot
ExecStart=/home/evan/resources/venv3/bin/python main.py both
WorkingDirectory=/home/evan/resources/lightcurve-of-the-day/
Restart=on-failure

[Install]
WantedBy=cron-daily.target
